:root {
    --main-color: rgb(0, 0, 0);
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(36, 102, 243);
    --button-padding: 10px;
    --button-width: 5rem;
    --button-background-color: var(--secondary-color);
    --button-color: white;
    --button-border: none;
    --button-border-radius: 25px;
    --gap-nav-content: 10rem;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


main {

    display: grid;

}


/* header */
header {
    display: grid;
    width: 100%;
}

/* product list */


.nav-main {
    padding: 15px;
    background-color: rgb(238, 234, 234);
    position: relative;
    transition: all ease-out 0.2s;

}

.nav-main ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.nav-main ul li {
    list-style: none;
    display: block;

}

.nav-main li a {
    text-decoration: none;
    font-size: 0.8rem;
}

.nav-primary {
    margin-top: 25px;
    margin-bottom: 25px;

}

.store-partner {
    position: absolute;
    height: 0rem;
    overflow: hidden;
    top: 3rem;
    z-index: 999;
    min-width: 100%;
    display: grid;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 15px 15px white;
    transition: all ease-out 0.3s;
    transition-delay: 0s;

}

.store-section {
    background-color: transparent;
    width: 56rem;
}

.store-content {
    display: flex;
    gap: 10rem;
    transition: all ease-out 0.3s;
    transition-delay: 0s;
}

.store-content h1 {
    position: relative;
    top: 10px;
}

.show-store {
    height: 21rem;

}

/* mac-partner */
.mac-partner {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 3rem;
    display: grid;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    height: 0rem;
    transition: all ease-out 0.3s;
    transition-delay: 0s;
    box-shadow: 1px 15px 15px white;

}

.mac-section {
    display: grid;
}

.mac-content {
    display: flex;
    gap: 25px;
    position: relative;
    right: 22px;
    text-transform: capitalize;
}

.mac-content h1 {
    position: relative;
    top: 10px;
}

.mac-display {
    height: 21rem;
}

/* ipad partner */
.ipad-partner {
    display: grid;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 3rem;
    height: 0;
    background-color: white;
    z-index: 999;
    overflow: hidden;
    box-shadow: 1px 15px 15px white;
    transition: all ease-out 0.3s;
    transition-delay: 0s;

}

.ipad-section {
    display: grid;
}

.ipad-content {
    display: flex;
    gap: 25px;
    text-transform: capitalize;
    position: relative;
   right:22px;
}

.ipad-content h1 {
    position: relative;
    top: 10px;
}

.ipad-display {
    height: 21rem;
}

.explore-ipad {}

.shop-ipad {}

.more-from-ipad {}


.nav-display {
    background-color: white;
}




.nav-primary img {
    width: 50px;
}

.nav-primary ul {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 30px;
}

.nav-primary li {
    list-style: none;
}

.nav-primary a {
    text-decoration: none;
    font-size: 0.8rem;
}

/* section-one */

.section-one {
    background-color: var(--main-color);
    height: 795px;
    width: 100%;

}

.show-section-one-display {
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(100%);


}

.titanium-background {
    display: grid;
    justify-content: center;
    text-align: Center;
    align-items: center;
    align-content: center;

}

.titanium-info h1 {
    letter-spacing: 25px;
    color: antiquewhite
}

.titanium-info p {
    color: rgb(240, 96, 96);
}

.section-one-buy-btn {
    padding: var(--button-padding);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    background-color: var(--secondary-color);
    color: var(--button-color);
    border: var(--button-border);
    cursor: pointer;
}

.section-one-learn-more-link {
    color: var(--secondary-color);
    font-size: 25px;
    text-decoration: none;
}

.section-one-learn-more-link:hover {
    text-decoration: underline;
}

.titanium-info {
    color: white;
    display: grid;
    gap: 15px;
    position: relative;
    top: 80px;
}

.section-one-img-black-iphone {
    width: 100%;
    background-color: black;


}

.show-black-iphone-display {
    filter: blur(8px);
    background-color: rgba(0, 0, 1, 0.9);
    backdrop-filter: blur(5px);

}

/*section two*/
.section-two {
    background-color: var(--primary-color);
    min-height: max-content;
}

.newphoria {
    display: grid;
    justify-content: center;
}

.newphoria-info {
    position: relative;
    top: 80px;
    text-align: center;
    display: grid;
    gap: 15px;
}

.newphoria-info h1 {
    letter-spacing: 25px;
    color: black
}

.newphoria-buy-button button {
    padding: var(--button-padding);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    background-color: var(--secondary-color);
    color: var(--button-color);
    border: var(--button-border);
    cursor: pointer;
}

.newphoria-learn-more-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
}

.newphoria-learn-more-link a:hover {
    text-decoration: underline;
}

.section-two-white-iphone-background {}

.section-two-white-iphone-background img {
    width: 100%;

}

/* section three */

.section-three {
    background-color: #fbfbfd;
    position: relative;
    top: 90px;
}

.power {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}

.power-info {
    display: grid;
    gap: 15px;
    text-align: Center;

}

.power-info h4 {
    font-size: 23px;
}

.power-info h1 {
    font-size: 50px;
    color: rgb(18, 90, 199);
}

.power-info p {
    font-size: 23px;
}

.section-three-buy-button button {
    padding: var(--button-padding);
    color: var(--button-color);
    background-color: var(--button-background-color);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    border: var(--button-border)
}

.link {
    position: relative;
    top: 0;
}

.link a {
    color: var(--secondary-color);
    font-size: 25px;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.rainbow-phone {}

.img {}

/* section four */

.section-four {
    display: grid;
    position: relative;
    top: 110px;
    justify-content: center;

}

.new-model {
    display: grid;
    gap: 50px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.article {
    display: flex;
    gap: 10rem;

}

.content {
    display: grid;
    gap: 25px;

}

.info {
    display: grid;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.info .new {
    color: red;
}

.price {
    display: grid;
    gap: 15px;
    position: relative;
    top: 20px;
}

.section-four-btn-buy button {
    background-color: var(--button-background-color);
    padding: 5px;
    color: var(--button-color);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    width: 60px;

}

.section-four-link a {
    text-decoration: none;
    color: var(--secondary-color);
}

.section-four-link a:hover {
    text-decoration: underline;
}

.section-four .choice .one {
    height: 12px;
    width: 12px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}

.section-four .choice .two {
    height: 12px;
    width: 12px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.section-four .choice .three {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.section-four .choice .four {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.section-four .content-table {}

.section-four .content-table td {
    text-align: center;
    padding: 30px;
}

.section-four .content-specs {
    height: 100px;
    width: 250px;
}

.content-table {
    overflow-x: auto;
}